<script>
    function markSelected(obj){
        $("ul.sub-menu").find(".open").first().removeClass("open active");
        $(obj).parent().addClass("open active");
        $(".page-sidebar-menu .nav-item").removeClass("open active");
        $(obj).parent().parent().closest("li.nav-item").addClass("open active");
    }
</script>
<!-- BEGIN SIDEBAR -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <li class="heading">
            <h3 class="uppercase">目录</h3>
        </li>
        <li class="nav-item start active open ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">UI Features</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start active open ">
                    <a href="/" class="nav-link " onclick="markSelected(this);" target="contentFrame">
                        <span class="title">Metronic Grid System</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/index" class="nav-link " onclick="markSelected(this);" target="contentFrame">
                        <span class="title">Color Library</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title">Page Progress Bar</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item ">
                            <a href="ui_page_progress_style_1.html" class="nav-link "> Flash </a>
                        </li>
                        <li class="nav-item ">
                            <a href="ui_page_progress_style_2.html" class="nav-link "> Big Counter </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">Components</span>
                <span class="arrow"></span>
                <span class="selected"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="/hello" class="nav-link " onclick="markSelected(this);" target="contentFrame">
                        <span class="title">Ion Range Sliders</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="components_noui_sliders.html" class="nav-link ">
                        <span class="title">NoUI Range Sliders</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="components_knob_dials.html" class="nav-link ">
                        <span class="title">Knob Circle Dials</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Form Stuff</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="form_controls.html" class="nav-link ">
                                            <span class="title">Bootstrap Form
                                                <br>Controls</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="form_controls_md.html" class="nav-link ">
                                            <span class="title">Material Design
                                                <br>Form Controls</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bulb"></i>
                <span class="title">Elements</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="elements_steps.html" class="nav-link ">
                        <span class="title">Steps</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="elements_lists.html" class="nav-link ">
                        <span class="title">Lists</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="elements_ribbons.html" class="nav-link ">
                        <span class="title">Ribbons</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="elements_overlay.html" class="nav-link ">
                        <span class="title">Overlays</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="elements_cards.html" class="nav-link ">
                        <span class="title">User Cards</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->